/* nama class css ditambah rak- diawalan untuk mengelabui aturan penamaan css yg nggaboleh pake angka diawalan */
.processed-40ELmVyyjGRBh33ikEEv #rak-40ELmVyyjGRBh33ikEEv,
.processed-9QOQ33BXL2xVMWLVfMr0 #rak-9QOQ33BXL2xVMWLVfMr0,
.processed-dQoluwg9gGcfipgodSCe #rak-dQoluwg9gGcfipgodSCe, 
.processed-kbIlmhvkcAdIj76dQNV6 #rak-kbIlmhvkcAdIj76dQNV6,
.processed-rKmYYiMTdbmHOk8kLx8a #rak-rKmYYiMTdbmHOk8kLx8a,
.processed-937FIBzqL0IPQtcB3lRo #rak-937FIBzqL0IPQtcB3lRo,
.processed-PDjWtnehMsAT54D2RGcQ #rak-PDjWtnehMsAT54D2RGcQ,
.processed-hshuNWxbzoc3HC4d6lp6 #rak-hshuNWxbzoc3HC4d6lp6,
.processed-sJuNk7bMtBWaAnz8ZtgJ #rak-sJuNk7bMtBWaAnz8ZtgJ { 
    fill: #bfdbfe;
}

.pengambilanGudang-40ELmVyyjGRBh33ikEEv #rak-40ELmVyyjGRBh33ikEEv,
.pengambilanGudang-9QOQ33BXL2xVMWLVfMr0 #rak-9QOQ33BXL2xVMWLVfMr0,
.pengambilanGudang-dQoluwg9gGcfipgodSCe #rak-dQoluwg9gGcfipgodSCe, 
.pengambilanGudang-kbIlmhvkcAdIj76dQNV6 #rak-kbIlmhvkcAdIj76dQNV6,
.pengambilanGudang-rKmYYiMTdbmHOk8kLx8a #rak-rKmYYiMTdbmHOk8kLx8a,
.pengambilanGudang-937FIBzqL0IPQtcB3lRo #rak-937FIBzqL0IPQtcB3lRo,
.pengambilanGudang-PDjWtnehMsAT54D2RGcQ #rak-PDjWtnehMsAT54D2RGcQ,
.pengambilanGudang-hshuNWxbzoc3HC4d6lp6 #rak-hshuNWxbzoc3HC4d6lp6,
.pengambilanGudang-sJuNk7bMtBWaAnz8ZtgJ #rak-sJuNk7bMtBWaAnz8ZtgJ { 
    fill: #fecaca;
}